@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1> Library management system</h1>
    </div>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="col-md-12">
            <h2> my sample application</h2>
            <p>
                This library management application is web base sample application not fully developed.This application developed by using visual studio 2019 community edition , ASP .Net core framwork, MVC architecture and Entity framwork 6.
            </p>

        </div>
      
    </div>
